amqp==2.3.2
anyjson==0.3.3
bcrypt==3.1.4
beautifulsoup4==4.6.0
billiard==3.5.0.3
celery==4.1.1
cffi==1.11.5
cssutils==1.0.2
Django==1.11.14
django-celery==3.1.15
django-celery-beat==1.1.1
django-cloneable==0.1.0
django-common-helpers==0.9.1
django-cron==0.5.1
django-inlinecss==0.1.2
django-model-changes==0.15
funcsigs==1.0.2
kombu==4.2.1
mock==2.0.0
pbr==4.1.0
pycparser==2.18
pynliner3==0.6
python-dateutil==2.7.3
pytz==2018.5
redis==2.10.6
six==1.11.0
vine==1.1.4
