<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
        {% load static %}
    <link rel="stylesheet" href="{% static 'css/default.css' %}">
    <link rel="stylesheet" href= "{% static 'css/style.css' %}" >
    <link rel="stylesheet" href= "{% static 'css/basic.css' %}"> 
    <link rel="stylesheet" href= "{% static 'css/reset.css' %}"> 
    
    <link rel="stylesheet" href="../../static/css/default.css">
    <link rel="stylesheet" href="../../static/css/style.css">
    <link rel="stylesheet" href="../../static/css/basic.css">
    <link rel="stylesheet" href="../../static/css/reset.css">
</head>

<body>
           <header class='header-large'><img src="../../static/img/Icons/PapugaLogo.png" alt="Papuga Logo"></header>
    <h3>Forgot password?</h3>
    <form method="post">
        {% csrf_token %} {{ form.as_p }}
        <button type="submit">Reset Password</button>
    </form>
        <footer>
        <div class='left'>
            <p> Phone: 248-547-7859</p>
        </div>

        <div class='right'>
            <p>&copy; 2018 Papuga Transport</p>
        </div>
    </footer>
</body>
</html>