<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../static/css/default.css">
    <link rel="stylesheet" href="../../static/css/style.css">
    <link rel="stylesheet" href="../../static/css/basic.css">
    <link rel="stylesheet" href="../../static/css/reset.css">
</head>

<body>

    <p>
        We've emailed you instructions for resetting your password. If an account exists with the email you entered, you will receive the instructions shortly.
    </p>
    <br>
    <br>
    <p>
        If you don't receive an email, please make sure you've entered the correct email address and check your spam folder.
    </p>
    
    <a href="/">
        Return to login
    </a>
</body>
</html>