<!DOCTYPE html>
{% load inlinecss %}
{% inlinecss "../static/css/default.css" %}
{% inlinecss "../static/css/style.css" %}
{% inlinecss "../static/css/basic.css" %}
{% inlinecss "../static/css/email.css" %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
        {% load static %}
    <link rel="stylesheet" href="{% static 'css/default.css' %}">
    <link rel="stylesheet" href= "{% static 'css/style.css' %}" >
    <link rel="stylesheet" href= "{% static 'css/basic.css' %}"> 
    <link rel="stylesheet" href= "{% static 'css/email.css' %}"> 
    
    <link rel="stylesheet" href="../static/css/default.css">  
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/basic.css">
    <link rel="stylesheet" href="../static/css/email.css">
</head>

<body>
   <img src="../static/img/Icons/PapugaLogo.png" alt="">
    <h1>New Ride Request</h1>
    <div class = 'longer'>
    <p><strong>Rider Name: </strong>{{rider_first}} {{rider_last}}</p>
    <p><strong>Request Date: </strong>{{date}}</p>
    <p><strong>Request Time: </strong>{{time}}</p>
    <p><strong>Pick-Up Location:</strong> {{pickup}}</p>
    <p><strong>Drop-Off Location: </strong>{{dropoff}}</p>
    <p><strong>Amublatory/Wheelchair-Bound: </strong>{{ambulatory}}</p>
    <p><strong>Round-Trip/One-Way: </strong>{{round_trip}}</p>
    <p><strong>Accompany Name: </strong>{{acc_name}}</p>
    <p><strong>Pick-Up Number:</strong> {{pickup_number}}</p>
    <p><strong>Drop-Off Number: </strong>{{dropoff_number}}</p>
    <p><strong>Accompany Number: </strong>{{acc_number}}</p>
    </div>
</body>
</html>
{% endinlinecss %}