<!DOCTYPE html>
<html lang="">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="../static/css/default.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/register.css">
    <link rel="stylesheet" href="../static/css/forgot-password.css">
</head>

<body>

<!--   FIXME corrent href-->
    <a href="landing-page"> 
    <img class='img-small' src="../static/img/Icons/PapugaLogo.png" alt="papuga logo">
   </a>

    <div class='main-content'>
        <div class='main content-left'>
           <!--   FIXME corrent href-->
            <a href="landing-page">     
            <img src="../static/img/Icons/PapugaLogo.png" alt="papuga logo">
           </a>
            <h1>Papuga transportation</h1>

            <div class='about-text'>
                <p>From here to there, with pride and care</p>
            </div>
        </div>

        <div class='register'>
            <ul>
                <li>

                    <!--                  FIXME (add action)-->
                    <form action=""></form>
                    <div>
                        <p>Enter Email</p>
                        <input type="text">
                    </div>
                    <div>
                        <button type="submit">Reset Password</button>
                        <p class='hint'>You will recieve an email with a link to reset your password</p>
                    </div>

                </li>
            </ul>
        </div>
        <script src=""></script>
        <footer>
            <div class='left'>
                <p>Logout | Phone: 248-547-7859</p>
            </div>

            <div class='right'>
                <p>&copy; 2018 Papuga Transport</p>
            </div>
        </footer>
</body>

</html>
