<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
    <div>
        <h1>hello</h1>
        <p class='bruh'>What'sup familamily </p>
        <div id="formdiv">
            <form>
                <p>Name:<input type="text"></p>
                <p>Handicap:<input type="text"></p>
                <p>Shoe Size:<input type="text"></p>
                <p>Cup Size:<input type="text"></p>
                <p>Ass Size:<input type="text"></p>
                <p>Favorite Animal:<input type="text"></p>
                <p>Least Favorite Animal:<input type="text"></p>
                <p>Are you a smoker?:<input type="text"></p>
                <p>If answered "NO" to question above... What are you a pussy?:<input type="text"></p>
                <p>Nickname:<input type="text"></p>
                <input type="submit">
            </form>
        </div>
    </div>
</body>
</html>