<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
     {% load static %}
    <link rel="stylesheet" href="{% static 'css/default.css' %}">
    <link rel="stylesheet" href= "{% static 'css/style.css' %}" >
    <link rel="stylesheet" href= "{% static 'css/basic.css' %}" >
    <link rel="stylesheet" href= "{% static 'css/nav.css' %}" >
    <link rel="stylesheet" href= "{% static 'css/manage.css' %}" > 

    <link rel="stylesheet" href="../static/css/default.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/basic.css">
    <link rel="stylesheet" href="../static/css/nav.css">
    <link rel="stylesheet" href="../static/css/manage.css">
</head>

<body>
    <nav>

        <div class='gradient'></div>

        <div class='navbar-small'>
            <div class='navbar-top open-nav' onclick="navOut()"><img class="navbar-img lines" src="../static/img/Icons/navbarthing.png" alt="enter navigation"></div>

            <div class='navbar-top parrot'><img class='navbar-img page-title' src="../static/img/Icons/PapugaLogo.png" alt="papuga logo"></div>

            <div class='logout-small navbar-top'>Logout</div>
        </div>


        <div class='side-nav hidden' id='side-nav'>

            <ul>
                <li tab-index='1' class="exit">
                    <div class='navimg' onclick="navOut()"><img src="../static/img/Icons/navX.png" alt="exit navigation"></div>
                </li>

                <div class='user'>
                    <h2><span>{{user.first_name}}</span> {{user.last_name}}</h2>
                </div>

                <li tabindex="2"  id = 'this-page' onclick="location.href='/schedule_ride';">
                    <div class='navimg'><img class='icon scheduleimg' src="../static/img/Icons/ScheduleIconWhite.png" alt="schedule ride"></div>
                    <p>Schedule Ride</p>
                </li>


                <li tabindex="3" onclick="location.href='/info';">
                    <div class='navimg'><img class='icon' src="../static/img/Icons/Infowhite.png" alt="my info"></div>
                    <p>My Information</p>
                </li>

                <li tabindex="4" onclick="location.href='/contact';">
                    <div class='navimg'> <img class='icon' src="../static/img/Icons/ContactIconWhite.png" alt="contact icon"></div>
                    <p>Contact</p>
                </li>

                <li tabindex="5" onclick="location.href='/manage_rides';">
                    <div class='navimg'><img id='manage-rides' class='icon' src="../static/img/Icons/RidesIconWhite.png" alt="Manage Rides"></div>
                    <p>Manage Rides</p>
                </li>

                <li tabindex="6" onclick="location.href='/welcome';">
                    <div class='navimg'><img class='icon' src="../static/img/Icons/HomeIcon.png" alt="home icon"></div>
                    <p>Home</p>
                </li>

            </ul>

            <footer>

                <a href="/logout">
                    <div tabindex='7' class='logout'>Logout</div>
                </a>
                <div class='phone-number'>Phone: <span>248.547.7859</span></div>

                <div class='copyright'>&copy;2018 Papuga Transportation</div>

            </footer>
            <script src='../static/js/nav.js'>


            </script>
        </div>
    </nav>

    <div class='body'>
        <header>
            <div class='container'>

                <img src="../static/img/Icons/PapugaLogo.png" alt="">
                <h1>Select Past Ride</h1>

            </div>
        </header>


        <div style='display: visible' class='rides'>

            <div class='approved'>
                <h2>Past Rides</h2>

                <ul>
                    {% for ride in past_rides %}
                    <li onclick="rideSelected()">
                        <div class='visible'>
                            <p>{{ride.pickup_datetime}}</p>
                            <p>{{ride.pickup_address}}</p>
                            <p tabindex="8" class='details'>See Details</p>
                        </div>
                        <div class='info-under'>
                            <div>

                                <h3>Appointment Time</h3>
                                <p>{{ride.appointment_time}}</p>

                            </div>

                            <div>

                                <h3>Scheduled Pick-up Time</h3>
                                <p>{{ride.pickup_time}}</p>
                            </div>

                            <div>
                                <h3>Pick-up Address</h3>
                                <p>{{ride.pickup_address}}</p>
                            </div>
                            <div class='one-way'>
                                {% if ride.round_trip %}
                                <h3>Round Trip</h3>
                                {% else%}
                                <h3>One Way</h3>
                                {% endif %} {% if ride.ambulatory %}
                                <h3>Ambulatory</h3>
                                {% else%}
                                <h3>Wheelchair Bound</h3>
                                {% endif %}
                            </div>
                            <a id='ride-spacing' href="/schedule_ride_from_past_ride/{{ride.id}}">
                                <h2 id='select-past-ride'>Select Ride</h2>
                            </a>
                        </div>

                    </li>
                    <hr> {% endfor %}

                </ul>


                <script src="../static/js/manage.js"></script>
</body>

</html>
