body {
  background-color: #e6e7e8; }
  body > div {
    min-height: 90%;
    box-sizing: border-box; }

.view-one {
  height: 90%;
  width: 100%; }
  .view-one .container {
    width: 90%;
    height: 90%;
    display: block;
    position: relative;
    margin: auto;
    top: 10%;
    color: rgba(0, 0, 0, 0.6);
    font-family: "Kohinoor Devangari Light"; }
    .view-one .container img {
      max-width: 30%;
      display: block;
      position: relative;
      margin: auto; }
    .view-one .container h1 {
      width: 100%;
      text-align: center;
      font-size: 2rem;
      position: relative;
      top: 40px;
      font-family: "Kohinoor Devangari Semibold"; }
    .view-one .container > div {
      top: 60px;
      width: auto;
      position: relative;
      box-sizing: border-box;
      display: block;
      position: relative;
      margin: auto;
      text-align: center; }
      .view-one .container > div:nth-of-type(1) div {
        display: inline-block;
        font-size: 1rem;
        box-sizing: border-box;
        padding-left: 0.3rem;
        padding-right: 0.5rem; }
        .view-one .container > div:nth-of-type(1) div:nth-of-type(1) {
          border-right: lightgray 1px solid; }
      .view-one .container > div:nth-of-type(2) {
        top: 40%;
        font-family: "Kohinoor Devangari Regular"; }
        .view-one .container > div:nth-of-type(2) div {
          margin-bottom: 20px; }

.view-two {
  background-color: #1963a2;
  padding: 30% 7%;
  box-sizing: border-box; }
  .view-two h2 {
    font-size: 3rem;
    font-family: "Kohinoor Devangari Semibold";
    color: whitesmoke;
    width: 100%;
    text-align: center;
    margin-bottom: 40px; }
  .view-two p {
    font-family: "Kohinoor Devangari Regular";
    font-size: 1rem;
    color: whitesmoke;
    line-height: 1.2rem; }
  .view-two h3 {
    font-size: 3rem;
    color: whitesmoke;
    font-family: "Kohinoor Devangari Semibold";
    width: 100%;
    text-align: center;
    margin: 100px 0 40px 0; }
  .view-two .grid-box {
    margin-top: 100px;
    display: grid;
    grid-template-rows: 1fr 3fr;
    grid-template-columns: 49.9% 1px 49.9%; }
    .view-two .grid-box .border {
      grid-row: 1/span 2;
      grid-column: 2;
      box-sizing: border-box;
      background-color: whitesmoke; }
    .view-two .grid-box h4 {
      font-size: 1.5rem;
      font-family: "Kohinoor Devangari Light";
      color: whitesmoke;
      width: 100%;
      text-align: center; }
      .view-two .grid-box h4:nth-of-type(1) {
        grid-row: 1;
        grid-column: 1; }
      .view-two .grid-box h4:nth-of-type(2) {
        grid-row: 1;
        grid-column: 3; }
    .view-two .grid-box ul {
      width: 80%;
      display: block;
      position: relative;
      margin: auto; }
      .view-two .grid-box ul:nth-of-type(1) {
        grid-row: 2;
        grid-column: 1; }
        .view-two .grid-box ul:nth-of-type(1) li {
          margin-top: 0; }
          .view-two .grid-box ul:nth-of-type(1) li span {
            width: 9rem; }
      .view-two .grid-box ul:nth-of-type(2) {
        grid-row: 2;
        grid-column: 3; }
      .view-two .grid-box ul li {
        width: 100%;
        text-align: left;
        margin: 20px 0;
        font-family: "Kohinoor Devangari Light";
        color: whitesmoke; }
        .view-two .grid-box ul li span {
          position: relative;
          float: right;
          width: 5.5rem; }

/*# sourceMappingURL=landing.css.map */
