nav {
  width: 100%;
  height: 10%; }

.side-nav {
  position: absolute;
  width: 30%;
  min-width: 250px;
  min-height: 100%;
  background-color: #1864a3;
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.7);
  top: 0;
  transition: all 0.2s cubic-bezier(0.4, 0, 1, 1) 0s;
  font-family: sans-serif; }

.user {
  position: relative;
  width: 80%;
  height: 50px;
  margin: 0 auto 20px auto;
  text-align: center;
  border-bottom: 1px rgba(255, 255, 255, 0.7) solid; }
  .user h2 {
    font-size: 1.1rem;
    padding-top: 10px;
    color: rgba(255, 255, 255, 0.7); }
  .user span {
    color: rgba(255, 255, 255, 0.5); }
  @media (min-width: 700px) {
    .user {
      height: 100px; }
      .user h2 {
        padding-top: 60px; } }

.navimg {
  position: relative;
  width: 20%;
  text-align: center;
  margin-right: 14%;
  padding-left: 17%;
  height: 100%;
  cursor: pointer; }

.icon {
  height: auto;
  width: auto;
  max-width: 70%;
  max-height: 70%; }

.scheduleimg {
  margin-left: 7px;
  max-height: 90%; }

ul {
  padding: 0 1rem 2rem 1rem; }
  ul li {
    margin-bottom: 1.5rem;
    display: flex;
    height: 60px; }
    ul li p {
      margin-top: 3%;
      cursor: pointer; }

.exit {
  width: 30%; }
  @media (min-width: 700px) {
    .exit {
      display: none; } }
  .exit img {
    width: 100%;
    text-align: left;
    padding-top: 40px;
    max-height: 100%; }

.open-nav {
  padding-top: 1rem;
  width: 150px;
  text-align: left;
  padding-left: 5%;
  cursor: pointer; }

.hidden {
  transform: translateX(-100%);
  transition: all 0.2s cubic-bezier(0, 0, 0.2, 1) 0s; }
  @media (min-width: 700px) {
    .hidden {
      transform: none; } }

.navbar-img {
  height: auto;
  width: auto;
  max-height: 100%;
  max-width: 100%; }

.lines {
  max-width: 50%; }

.gradient {
  position: absolute;
  height: 100%;
  width: 100%;
  pointer-events: none;
  transition: all 0.2s linear 0s; }
  @media (min-width: 700px) {
    .gradient {
      display: none; } }

.applied-gradient {
  background-color: rgba(80, 80, 80, 0.6);
  transition: all 0.2s linear 0s; }

.navbar-top {
  width: 15%;
  color: #1864a3; }

.navbar-small {
  positon: absolute;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 50px;
  padding-top: 20px; }
  @media (min-width: 700px) {
    .navbar-small {
      display: none; } }

.logout-small {
  padding-top: 1rem;
  padding-right: 15px; }

footer {
  position: absolute;
  bottom: 0;
  height: 60px;
  width: 100%;
  text-align: center;
  padding-top: 15px;
  background-color: darkblue;
  color: rgba(255, 255, 255, 0.7);
  font-size: 0.8rem; }

.phone-number, .logout {
  display: inline-block; }

.phone-number {
  padding-left: 15px; }

.logout {
  padding-right: 15px;
  border-right: rgba(255, 255, 255, 0.7) solid 1px; }
  @media (max-width: 699px) {
    .logout {
      display: none; } }

.copyright {
  padding-top: 15px;
  color: rgba(255, 255, 255, 0.5); }

.logout-small {
  font-family: sans-serif;
  position: relative;
  text-align: right; }

/*# sourceMappingURL=nav.css.map */
