body {
  height: 100%;
  background-color: #e6e7e8; }

.main-content {
  position: static;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 60px;
  font-family: "Kohinoor Devangari Semibold"; }

.content-left {
  grid-column: 1;
  text-align: center; }
  @media (max-width: 699px) {
    .content-left {
      display: none; } }
  .content-left img {
    position: relative;
    width: 60%;
    max-width: 250px;
    min-width: 100px;
    padding-top: 15%; }
  .content-left h1 {
    padding-top: 1.7rem;
    font-weight: bold;
    font-size: 2rem; }
  .content-left .about-text {
    width: 60%;
    margin: auto;
    margin-top: 2rem;
    font-style: normal;
    line-height: 1.2rem; }
    .content-left .about-text p {
      opacity: 0.5;
      font-family: "Kohinoor Devangari Regular"; }

.img-small {
  max-width: 30%;
  margin-left: 35%;
  margin-top: 10px; }
  @media (min-width: 700px) {
    .img-small {
      display: none; } }

.register {
  grid-column: 2; }
  @media (max-width: 699px) {
    .register {
      grid-column: 1/span 2; } }
  .register ul {
    background-color: #e6e7e8;
    position: relative;
    width: 60%;
    margin: auto;
    margin-top: 10%;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 4px 2px 10px 2px rgba(0, 0, 0, 0.2);
    font-size: 1rem; }
    @media (max-width: 699px) {
      .register ul {
        box-shadow: none;
        width: 100%;
        background-color: #e6e7e8; } }
    .register ul li {
      width: 90%;
      margin: auto;
      margin-top: 20px; }
      @media (max-width: 699px) {
        .register ul li {
          margin-top: 20px; } }
      .register ul li p {
        opacity: 0.5;
        font-family: "Sinhala Sangam MN"; }
      .register ul li input {
        width: 100%;
        border: #1963a2 0.5px solid;
        border-radius: 4px;
        height: 1.4rem;
        margin-top: 7px;
        background-color: whitesmoke; }
        @media (max-width: 699px) {
          .register ul li input {
            height: 2rem; } }
    .register ul .title {
      border-bottom: solid #1963a2 0.5px; }
      .register ul .title h1 {
        color: #1963a2;
        padding-bottom: 1.5rem;
        font-size: 2rem; }
      @media (min-width: 700px) {
        .register ul .title {
          display: none; } }
    .register ul .name {
      width: 40%; }
    .register ul .show-password {
      position: relative;
      width: 30%;
      margin-top: 5px;
      display: flex;
      font-size: 0.8rem; }
      @media (max-width: 699px) {
        .register ul .show-password {
          padding: 2rem 0; } }
      .register ul .show-password p {
        padding-top: 0.3rem;
        text-align: center; }
    .register ul .submit {
      padding-bottom: 20px; }
      .register ul .submit input {
        font-size: 1.5rem;
        height: 2.5rem;
        color: #e6e7e8;
        background-color: #155788;
        width: 85%;
        margin-left: 7.5%; }
        @media (max-width: 699px) {
          .register ul .submit input {
            height: 3rem; } }

.errors {
  color: #d63934; }
  .errors ul {
    background-color: #e6e7e8;
    margin-top: 10px;
    box-shadow: none; }
    @media (max-width: 699px) {
      .errors ul {
        margin-top: -100px; } }
    .errors ul li {
      text-align: center;
      margin-top: 0; }

footer {
  margin-top: 70px;
  width: 100%;
  height: 60px;
  grid-row: 2;
  grid-column: 1/span 2;
  color: lightgray;
  background-color: #0b456d;
  display: flex;
  justify-content: space-between;
  font-size: 0.8rem; }
  footer div {
    display: relative;
    margin-top: 25px;
    padding-left: 3%;
    margin-right: 3%; }
    footer div p {
      opacity: 1;
      font-family: "Kohinoor Devangari Light"; }

/*# sourceMappingURL=register.css.map */
