body {
  background-color: #dee0e0;
  position: absolute; }
  @media (min-width: 575px) {
    body {
      right: 0; } }

.body-content {
  position: absolute;
  width: 50%;
  right: 0;
  padding-top: 60px; }




